#version=RHEL7
install
skipx
text
cdrom
eula --agreed

logging --level=info

keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone --utc Etc/UTC

network  --bootproto=dhcp --device=eth0 --ipv6=auto --onboot=yes --activate
services --enabled="NetworkManager,sshd,chronyd"
firewall --enabled --service=ssh,mdns,http,https --port=8080:tcp,8443:tcp

selinux --disabled

auth --enableshadow --passalgo=sha512
rootpw --plaintext vagrant
user --name=vagrant --plaintext --password=vagrant --groups=wheel

ignoredisk --only-use=sda
bootloader --location=mbr --boot-drive=sda
zerombr
clearpart --all --initlabel
autopart --type=plain

reboot


%packages --nobase
@core --nodefaults
chrony
-aic94xx-firmware*
-alsa-*
-iwl*firmware
%end


%post
yum -y upgrade

echo "vagrant ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/vagrant
echo "Defaults !requiretty" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

mkdir -pm 700 ~vagrant/.ssh
curl -sSL -o ~vagrant/.ssh/authorized_keys https://raw.githubusercontent.com/mitchellh/vagrant/master/keys/vagrant.pub
chmod 0600 ~vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant ~vagrant/.ssh
%end
